img {
  width: 163px;
  /* margin-top: -10px; */
  /* margin-left: 1px; */
  margin-left: 30px;
  /* border: 2px solid black; */
  /* padding: 0px 10px 0px 10px; */
  /* top | right | bottom | left */
  /* padding-bottom: 1ex; */
}
.bold-text {
  font-weight: bold;
}
